.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.col {
  background-color: var(--ifm-footer-background-color);
}

svg.featureSvg {
  height: 10em;
  width: 20em;

  [fill="#6c63ff"] {
    fill: var(--ifm-color-primary-darkest);
  }

  [fill="#3f3d56"] {
    fill: var(--ifm-color-primary-contrast-background);
    filter: drop-shadow(2px 3px 1px var(--ifm-color-white));
  }

  [fill="#fff"] {
    fill: var(--ifm-color-primary-contrast-background);
  }

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
