name: Tests

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main


concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true


permissions:
  contents: read
  checks: write # required by mikepenz/action-junit-report


jobs:

  gradle-check:
    strategy:
      matrix:
        include:
          - os: macos-latest
            task: "check --continue"
          - os: ubuntu-latest
            task: "check --continue"
          - os: windows-latest
            # don't run integration tests on Windows because Gradle OOMs https://github.com/adamko-dev/dokkatoo/issues/10
            task: "check --continue -x :modules:dokkatoo-plugin-integration-tests:check --no-parallel --no-configuration-cache --no-daemon --max-workers=1"
      fail-fast: false
    uses: ./.github/workflows/gradle_task.yml
    with:
      runs-on: ${{ matrix.os }}
      gradle-task: >-
        ${{ matrix.task }} --stacktrace
